@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1600086624856'); /* IE9 */
  src: url('../fonts/iconfont.eot?t=1600086624856#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAK4AAsAAAAABpQAAAJqAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCfgp4gQIBNgIkAwwLCAAEIAWEbQdDG80FyC6wbdiTEtXGEEKRc/Yx8OCdUQTRfr/Zu/uKSxKNRPNGIpHxRkkkKJkSIAVvWsK7mst9QKN2fOhfFlmhDu3d3wcuc9kUQTgyskajcCBcZW1b6WvQlDuYM+Bf63ZZj8P7xtcaG4W8fJ7L6U2gs6P5gU7s0FrLxho2/KgXYBxQYHtim6xEMm+RXcSduIjzBNqmWWp7K1u70FWgaYG4VTKAbiGjKEa9KdQb1hbxqKaZ7tMH8BB9P/4No0tSy9Dck/PlGOa+x78n8lV15YwTsgR5cw0ZK0AhThsrJxrC4BralaYZsK9hwbdVxTfcJ/bKJ+KvI42dYEF2pjsyU5dbM8sbJJBBvVibBOYUdvCZIbq778QTOoXihyiYlM+o4Jges6H/Z5cXnzNPM1/PyHFx8NNkWePyY6APUE2+aBxHv9v0moEagq9/e9b+uh0FvJZLqWoKwGKgud9o8I/MwLbiW5E3F9dETWEs6waEErLBjKsIJfr9jPcMgVsJTUMjYg1TGbKmGbKwK6jpsIq6pk20LVvd3GGA0RClhSX3EkKvFyTdXpD1+iQL+42aYb+o640G2k5jYM8Oc6H6u4YCphjDY1SRzgXxcz9u3iZZpYHJWyNhn0yp8jhwvHJ9lXIycywoD+SQWaAwOsMV6TJKU42F0WOK2BkxFxOuK5re5EQ6g75dBgkwEkOhY0iJaDnBu7N+5fPbiFRJBUyHrqfeR4yS6h8NODwAuerKQbp7uaZ0QBpiTECCoWXQijSKpFIaKppHjZEIc4xGlAoTXNxJQF3O+p7s+/ZAG9ojR4ocRce1CnLWlX1MbVn5pNIAAAAA') format('woff2'),
  url('../fonts/iconfont.woff?t=1600086624856') format('woff'),
  url('../fonts/iconfont.ttf?t=1600086624856') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('../fonts/iconfont.svg?t=1600086624856#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiantou-you:before {
  content: "\e71a";
}

.icon-jiantou-zuo:before {
  content: "\e71b";
}

